/*
  Appending custom SCSS variables will override the default ones in `_sass/addon/variables.scsss`
*/

@mixin dark-scheme {
  @include dark-scheme-base;
  --sidebar-bg: radial-gradient(circle, #3a2c46 0%, #1d1f27 100%);
  --card-bg: #272331;
  --sidebar-hover-bg: rgb(26 27 34 / 57%);
}

@mixin light-scheme {
  @include light-scheme-base;
  --sidebar-bg: #f4f3fa;
  --sidebar-hover-bg: rgb(223 224 241 / 64%);
  --card-shadow: rgb(104 104 104 / 15%) 0 2px 6px 0,
    rgba(211, 209, 209, 0.15) 0 0 0 1px;
}
